<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortenly -URL Shortner</title>
    <link rel="stylesheet" href="../public/style1.css">
</head>
<body>
    <div class="container">
        <div class="page__title">
            <h1>Shortenly</h1>
            <p>The URL Shortner</p>
        </div>
         <div class="short__form">
                <form>
                    <input type="text" name="url" id="url" placeholder="www.google.com">
                    <button class="btn">
                        Shorten
                    </button>
                </form>
         </div>
                <div class="content">
                    <h2>
                        URLs
                    </h2>
                    <div class="shorten-url">
                        <a href="#" class="shorten-url-link">www.shortenly.com/utl</a>
                        <span class="copyboard"></span>
                    </div>
                    <div class="shorten-url">
                        <a href="#" class="shorten-url-link">www.shortenly.com/utl</a>
                        <span class="copyboard"></span>
                    </div>
                </div>   
    </div>
</body>
</html>
<!-- <div class="shorten-url">
    <a href="#" class="shorten-url-link">www.shortenly.com/utl</a>
    <span class="copyboard"></span>
</div>
<div class="shorten-url">
    <a href="#" class="shorten-url-link">www.shortenly.com/utl</a>
    <span class="copyboard"></span>
</div> -->